h1 {
 font-family: "utm avo"
}
.doan1{
    font-family: "utm avo"
    font-size: 14px;
    }
#tomtat{
    color: rgb(117, 117, 117);
    font-style: "regular";
    font-size: 12px}
div {
    width: 700px;
    margin: auto;
}